body {
	min-width: 230px;
	height: 120px;
	background-color: #FAC51C;
	font-family: Lucida Sans Unicode;
	text-align: center;
	margin-bottom: 30px;
}
#error {
	color: #B8312F;
	padding-bottom: 10px;
	height: 20px;
}
